/*Large Device*/ 
@media (max-width: 991px){
    
}

/*Medium Device*/ 
@media (max-width: 768px){
    html{
        font-size: 55%;
    }
    
    .header{
        & #menu{
            display: block;
            & .fa-times{
                transform: rotate(180deg);
            }
        }
        & .navbar{
            position: fixed;
            width: 100%;
            top: -120%;
            left: 0;
            background-color: #444;
            padding: 2rem 0;
            &.active{
                top: 7rem;
            }
            & a{
                display: block;
                text-align: center;
                margin: 1.5rem 0;
                font-size: 2rem;
                &:hover{
                    color: #f39c12;
                }
            }
            & .active{
                color: #f39c12;
            }
        }
    }
    .home{
        & h1{
            font-size: 4rem;
        }
        & p{
            width: auto;
        }
    }
    .contact{
        & .contact-image{
            display: none;
        }
    }
}

/*Small Device*/ 
@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    .header{
        & .logo{
            & img{width:180px;}
        }
    }
    .contact{
        & .row{
            & form{
                & .box{
                    width:100%;
                }

            }
        }
    }

    
}